@import url("https://www.fontsquirrel.com/fonts/source-sans-pro#link");
@import url("https://www.fontsquirrel.com/fonts/Spin-Cycle-OT#link");

/* VARIABLES */
:root {
--color-primary: #FF6565;
--color-black:  #000;
--color-white: #ffffff;
--color-grey: #979797;
--color-light-grey: #d8d8d8;
--color-dark-grey: #353535;
--color-navy-blue: #071629;
--Radial-gradient1: #29303D00, #071629;
--Radial-gradient2: #10192978, #071629;
--background: #FFF;
--font-family: Source Sans Pro;
--font-size: 12px;
--font-style: normal;
--font-weight: 700;
--line-height: normal;
}
/* BASE */


/* Set the flex container */
body {
    padding: 0;
    margin: 0;
}
  /* Style the header */
.header {
    height: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-white);
    z-index: 1000;
    position: relative;
    padding-left: 201px;
    padding-right: 199px;
    padding-top: 27.8px;
}
.navbar-menu {
    display: inline-flex;
    height: 15px;
    justify-content: center;
    align-items: flex-start;
    gap: 41px;
    flex-shrink: 0;
}
.navbar-menu a {
    text-decoration: none;
    color: var(--color-white);
    font-family: var(--font-family);
    font-size: 12px;
    font-style: var(--font-style);
    font-weight: 700;
    line-height: var(--line-height);
}
.navbar-menu a:hover {
    color: var(--color-primary)
}

main {
    height: 800px;
    flex-shrink: 0;
    background-image: url("ASSETS/images/headphones_hero_1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    top: -82px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.text {
    width: 637px;
    height: 313px;
    flex-shrink: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    color: var(--color-white);

}
.text h1 {
    color: #FFF;
    text-align: center;
    font-family: var(--font-family);
    font-size: 32px;
    font-style: var(--font-style);
    font-weight: 700;
    line-height: var(--line-height);
    padding: 0;
    margin: 0;
}
.text h2 {
    color: #FFF;
    text-align: center;
    font-family: var(--font-family);
    font-size: 16px;
    font-style: var(--font-style);
    font-weight: 700;
    line-height: var(--line-height);
    position: relative;
    top: -15px;
}
button {
    background-color: var(--color-primary);
    color: var(--color-white);
    width: 162px;
    height: 44px;
    flex-shrink: 0;
    border-radius: 22px;
    text-align: center;
    font-family: var(--font-family);
    font-size: 14px;
    font-style: var(--font-style);
    font-weight: 700;
    line-height: var(--line-height);
    position: relative;
    top: 40px;
    opacity: 0.9;
}
.text p {
    color: #FFF;
    text-align: center;
    font-family: var(--font-family);
    font-size: 16px;
    font-style: var(--font-style);
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    position: relative;
    top: 65px;
}

.w-6:hover {
    color: var(--color-primary)
}
.small-screen {
    display: none;
}

/* Responsive styles for mobile devices */

@media (max-width: 480px) {

    .small-screen {
        display: block;
        color: var(--color-white);
        order: -1;
    }
    .navbar-menu {
        display: none;
    }
    .header-logo {
        display: none;
    }
    .body {
        width: 375px;
        height: 4860px;
        flex-shrink: 0;
    }
    .header-container {
      width: 247px;
      display: flex;
      width: auto;
      height: 32px;
      flex-shrink: 0;
      flex-direction: row-reverse;
      justify-content: center;
      flex-wrap: wrap;
      align-items: center;
      padding-left: 21px;
      padding-right: 107px;
    }

    main {
        width: 375px;
        height: 869px;
        flex-shrink: 0;
        background-size: cover;
        padding: 20px;
    }
  
    .text {
        width: 357px;
        height: 436px;
        flex-shrink: 0;
        position: relative;
        top: 100px;
    }
  
    .text h1 {
        width: 357px;
        font-size: 32px;
    }
  
    .text h2 {
        width: 279px;
        font-size: 16px;
    }
  
    button {
        width: 162px;
        height: 44px;
        flex-shrink: 0;
    }
    .text p {
        width: 335px;
        font-size: 16px;
        position: relative;
        top: 50px;
    }
  
    form input,
    form textarea {
      width: 100%;
    }
  }
  
  







  

  
  


